django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
gspread
google-auth
google-auth-oauthlib
google-api-python-client
python-decouple
dj-database-url
psycopg2-binary
gunicorn
whitenoise
requests
pytz
